<div class="armas-tarjeta">
    <div class="armas-info armas-nombre">
        <p>{{name}}</p>
    </div>
    <div class="armas-info armas-stats">
        <p>
           {{system.atacaCon}}
        </p>
    </div>
</div>
