<div class="armas-tarjeta">
    <p>HOLA!</p>
    <div class="armas-info armas-nombre">
        <p>{{name}}</p>
    </div>
    <div class="armas-info armas-stats">
        <p>
           {{data.system.atacaCon}}/{{#if data.system.recarga}}{{data.system.recarga}}{{else}}-{{/if}}
        </p>
    </div>
</div>